body {
    background-image: url(../assets/home.png);
    background-repeat: no-repeat;
    background-color: gray;
    background-size: auto;
    background-position: center;
    color: white;
}
.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.left__ancientBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: 100%;
}
.left__ancientRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.ancient {
    width: 250px;
    height: 324px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
}
#a1 {
    background-image: url(../assets/Ancients/Azathoth.png);
}
#a2 {
    background-image: url(../assets/Ancients/Cthulthu.png);
}
#a3 {
    background-image: url(../assets/Ancients/IogSothoth.png);
}
#a4 {
    background-image: url(../assets/Ancients/ShubNiggurath.png);
}
.left__btnBox {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    height: 150px;
}
.btn {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
.right {
    display: flex;
    flex-direction: column;
    width: 65%;
}
.right__top {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.right__stageBox {
    height: 90%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.right__stageText {
    text-align: center;
    font-size: 22px;
}
.right__stageRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.right__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 22px;
}
.right__cell.green {
    background-color: rgba(0, 255, 0, 0.5);
}
.right__cell.red {
    background-color: rgba(255, 0, 0, 0.5);
}
.right__cell.blue {
    background-color: rgba(0, 0, 255, 0.5);
}

.right__deck {
    height: 90%;
    width: 280px;
    cursor: pointer;
}
.right__bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.right__btnMix {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
.right__card {
    height: 95%;
    width: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.activ {
    border: 3px solid rgb(0, 255, 38);
}
